@font-face {
  font-family: 'PT Root UI';
  src: url('/fonts/pt-root-ui_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('/fonts/pt-root-ui_bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('/fonts/pt-root-ui_light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('/fonts/pt-root-ui_medium.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: 'PT Root UI', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --color-main-font: #0B1739;
  --color-main-dark: #3EB57C;
  --color-multi-brand: #95D0A1;
  --color-brand-hover: #95d0a138;
}